
@{
    ViewBag.Title = "One";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anotha One</h2>

<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fewedit.files.wordpress.com%2F2017%2F06%2Fdj-khaled.jpg%3Fw%3D2000&f=1" />

