
@{
    ViewBag.Title = "Details";
    Managers.Models.User user = (Managers.Models.User)ViewBag.User;
}

<h2>Your Details</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h4>Your Account</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Username
            </dt>
            <dd>
                @user.Username
            </dd>

            <dt>Email Address</dt>
            <dd>
                @user.EmailAddress
            </dd>

            <dt>Date Joined</dt>
            <dd>
                @user.DateJoined.ToString("dd/MM/yyyy")
            </dd>

        </dl>
    </div>
</div>