
@{
    ViewBag.Title = "Create";
}

<h2>Sign up</h2>



    <div class="form-horizontal">
        <h4>Thanks!</h4>
        <hr />

        <p>We've sent you an email, you'll need to verify your email address before you can log in.</p>

    </div>

