@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scarecrow</h1>
    <p class="lead">Ayyy Lmao</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Hello there @Request.Browser.Browser <!--This thinks edge is chrome. --> boy</h2>
    </div>

  
</div>

