<?xml version="1.0"?>

     <constantsConfig
        sendErrorEmails="false"
        WebsiteName="Scarecrow"
        DomainName="http://localhost:47886"
        emailsTo="jonathon@coalfacedevelopment.com"
        emailsFrom="jonathon@coalfacedevelopment.com"
        developerEmail="jonathon@coalfacedevelopment.com"
        TestMode="true"
        isRedirectAllMailToDev="true"
        />

