<?xml version="1.0"?>
<configuration>

     <constantsConfig
        sendErrorEmails="false"
        WebsiteName="Scarecrow"
        DomainName="http://localhost:47886"
        emailsTo="jonathon@coalfacedevelopment.com"
        emailsFrom="base@cfpreview.co.uk"
        currentLanguage="English"
        developerEmail="jonathon@coalfacedevelopment.com"
        TestMode="true"
        isRedirectAllMailToDev="true"
        />

</configuration>
